<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории проектов</title>
</head>
<body>

<h1>Выберите категорию</h1>
<form th:action="@{/projectByCategory}" method="get">
    <button type="submit" th:name="category" th:value="Horror">horror</button>
    <button type="submit" th:name="category" th:value="Fantasy">fantasy</button>
    <button type="submit" th:name="category" th:value="Arcade">horror</button>
    <button type="submit" th:name="category" th:value="Education">fantasy</button>

    <table border="1">
        <tr>
            <th>Проект(ы):</th>

        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getProjectName()}"></td>

        </tr>
    </table>
</form>
</body>
</html>