<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории проектов</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/projectsByUser">ProjectsByUser</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/registration">Registration</a></li>
        </ul>
    </nav>
</header>

<h1>Выберите категорию</h1>
<form th:action="@{/projectByCategory}" method="get">
    <button type="submit" th:name="category" th:value="Horror">Horror</button>
    <button type="submit" th:name="category" th:value="Fantasy">Fantasy</button>
    <button type="submit" th:name="category" th:value="Arcade">Arcade</button>
    <button type="submit" th:name="category" th:value="Education">Education</button>

    <table border="1">
        <tr>
            <th>Проект:</th>

        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getProjectName()}"></td>

        </tr>
    </table>
</form>
</body>
</html>