<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории проектов</title>
</head>
<body>

<h1>Выберите категорию</h1>
<form th:action="@{/projectByCategory}" method="get">
<!--    <a class="btn" href="/categories?input=fantasy">fantasy</a>-->
<!--    <a class="btn" href="/categories?input=horror">two</a>-->
<!--    <a class="btn" href="/categories?input=action">action</a>-->
<!--    <a class="btn" href="/categories?input=arcade">arcade</a>-->

    <label for="category">Категория: <input type="text" id="category" name="category"></label><br>
    <input type="submit" value="Показать">

    <table border="1">
        <tr>
            <th>Проект</th>

        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getProjectName()}"></td>

        </tr>
    </table>
</form>
</body>
</html>