<!DOCTYPE html>
<html>
<head>
    <title>Информация</title>
</head>
<body>
    <h1>Информация</h1>
    <p>ID: [[${user.getId()}]]</p>
    <p>Логин: [[${user.username}]]</p>
    <p>Имя: [[${user.firstName}]]</p>
    <p>Фамилия: [[${user.lastName}]]</p>
    <p>Почта: [[${user.getEmail()}]]</p>
<!--    <p>Команда: [[${}]]</p>-->
<!--    <p>Проект(ы): [[${}]]</p>-->
    <p>Роль в проекте(ах): [[${user.getRoleInProject()}]]</p>
    <h1>Изменить роль</h1>
    <form th:action="@{/chooseTeamRole}" method="post">
        <label for="name">Название: <input type="text" id="name" name="name"></label><br>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>
