<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <p>Логин: [[${user.username}]]</p>
    <p>Проекты: [[${projects}]]</p>

    <h1>Create project</h1>
    <form th:action="@{/createProject}" method="post">
        <label for="name">Name: <input type="text" id="name" name="name"></label><br>
        <label for="description">Description: <input type="text" id="description" name="description"></label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
