<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Рейтинги</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/teams">Teams</a></li>
        </ul>
    </nav>
</header>
    <h1>Рейтинги</h1>
    <p>Логин: [[${user.username}]]</p>

    <table border="1">
        <tr>
            <th>Проект</th>
            <th>Рейтинг</th>
        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getProjectName()}"></td>
            <td th:text="${project.getProjectRating()}"></td>
        </tr>
    </table>

    <h1>Изменить рейтинг</h1>
    <form th:action="@{/updateRating}" method="post">
        <label for="id">ID: <input type="text" id="id" name="id"></label><br>
        <label for="rating">Рейтинг: <input type="text" id="rating" name="rating"></label><br>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>
